<html>
    <head>
        <!-- <link rel="stylesheet" href="/stylesheets/main.css"> -->
        <title>Edit Profile | InSite</title>
        <script src="/jquery.js"></script>
        <link rel="stylesheet" href="/stylesheets/mainpage.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
        <link rel="icon" type="image/png" size="32x32" href="/images/insite-icon-v3-32x32.png">
    </head>
    <body>
       <nav class = "navbar navbar-expand-md navbar-dark bg-dark sticky-top">
            <div class = "container-fluid">
                <a class="navbar-brand" href="/"><img src = "/images/navbar-logo-micro-v3.png"></a>
                
                <form class = "form-inline d-flex my-2 my-lg-0 justify-content-center md-form long-textbar" method="get" action="/websites/search-results">
                    <div class="lg-form my-0">
                        <input class="form-control form-control-md ml-3 long-textbar" name = "search" type="text" placeholder ="search for websites..." aria-label="search">
                        <button href = "/websites/search-results" class="btn btn-outline-light btn-md my-0 ml-sm-2">SEARCH</button>
                    </div>
                </form>
                <!--
                <div class = "col-xl-2">
                        <select id = "topCateg">
                        <option>All Categories</option>
                        <option>Social Media</option>
                        <option>E-Commerce</option>
                        <option>News Sites</option>
                        <option>Blogs</option>
                        <option>Informational</option> 
                        <option>Entertainment</option> 
                        </select>
                </div> -->
                
                
                <ul class="navbar-nav">
                    <li class = "nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false">
                            VIEW WEBSITES
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/categories/allcategories">All Websites</a></li>
                            <li><a class="dropdown-item" href="/categories/socialmedia">Social Media</a></li>
                            <li><a class="dropdown-item" href="/categories/ecommerce">E-Commerce</a></li>
                            <li><a class="dropdown-item" href="/categories/newssites">News Sites</a></li>
                            <li><a class="dropdown-item" href="/categories/blogs">Blogs/Focus Sites</a></li>
                            <li><a class="dropdown-item" href="/categories/informational">Informational</a></li>
                            <li><a class="dropdown-item" href="/categories/entertainment">Entertainment</a></li>
                            <li><a class="dropdown-item" href="/categories/utilities">Utilities</a></li>
                        </ul>
                    </li>
                    <li class = "nav-item">
                        <a class = "nav-link" href="/websites/submitsite">SUBMIT A WEBSITE</a>
                    </li>
                    <!-- rightoption1: either sign up or account, rightoption2: either log in or log out -->
                     <li class = "nav-item dropdown">
                        {{#if loggedin}}
                        <a class="nav-link dropdown-toggle" href="" id="profileDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                           {{rightoption1}}
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="profileDropdown">
                            <li><a class="dropdown-item" href="{{url1}}">View Profile</a></li>
                            {{#if modurl}}
                            <li><a class="dropdown-item" href="{{modurl}}">{{userRole}} Panel</a></li>
                            {{/if}}
                        </ul>
                        {{else}}
                            <a class = "nav-link" href="{{url1}}">{{rightoption1}}</a>
                        {{/if}}
                    </li>
                    <li class = "nav-item">
                        <a class = "nav-link" href="{{url2}}">{{rightoption2}}</a>
                    </li>
                </ul>
            </div>
        </nav>
        
        <div class = "content">
            <div class = "container">
                <h2 class="display-4 text-center"> Edit User Profile</h2>
                <div class="row">
                <div class="col-sm">
                    <div class="card border border-secondary">
                    <h3 class="font-weight-light text-center bg-dark text-white">General Information</h3>
                    <div class="mx-auto"><img src= "{{user.usericon}}" id="pic" alt="profile-image"></div>
                    <div class="card-body">
                        <ul class="list-inline mx-auto justify-content-center">
                            <li class="text-center"><span class="font-weight-bold">First Name: <br></span>{{user.firstname}}</li>
                            <li class="text-center"><span class="font-weight-bold">Last Name: <br></span>{{user.lastname}}</li>
                            <li class="text-center"><span class="font-weight-bold">Username: <br></span>{{user.username}}</li>
                            <li class="text-center"><span class="font-weight-bold">Email: <br></span>{{user.email}}</li>
                        </ul>
                    </div>
                </div>
                </div>

                <div class="col-lg-8 col-xl-8">
                <div class="card border border-secondary">
                    <h3 class="font-weight-light bg-dark text-white text-center">Edit Information</h3>
                    {{#if error}}
                        {{error}}
                    {{/if}}
                    {{#if editprofile}}
                    {{#with user}}
                    <form method = "post" action = "/users/user-list/{{username}}/editprofile/submit" enctype="multipart/form-data">
                    <div class="form-group" >
                    <label for = "profImg" class="font-weight-bold">Profile Picture</label>
        	        <input type="file" class="form-control" value="" name="profImg" placeholder="Profile Picture" accept="image/*">
                    </div>

                    <div class="form-group">
			        <div class="row">
				        <div class="col">
                        <label for = "fname" class="font-weight-bold">First Name</label>
                        <input type="text" class="form-control" value="{{firstname}}"name="fname" placeholder="First Name">
                        </div>

				        <div class="col">
                        <label for = "lname" class="font-weight-bold">Last Name</label>
                        <input type="text" class="form-control" value="{{lastname}}" name="lname" placeholder="Last Name">
                        </div>
			        </div>        	
                    </div>

                    <div class="form-group">
                    <label for = "em" class="font-weight-bold">Email</label>
        	        <input type="email" class="form-control" value = "{{email}}" name="em" placeholder="Email">
                    </div>

                    <div class="form-group text-center">
                    <button type="submit" value="updateprofile"class="btn btn-primary">Apply Changes</button>
                    </div>   
                    </form>
                    {{/with}}
                    {{/if}}

                    {{#if changepass}}
                    <form method="post" action = "/users/user-list/{{user.username}}/changepassword/submit">
                    <div class="form-group">
			        <div class="row">
                        <div class="col">
                        <label for = "fname" class="font-weight-bold">Old Password</label>
                        <input type="password" class="form-control" value="" name="opw" placeholder="Old Password">
                        </div>

				        <div class="col">
                        <label for = "fname" class="font-weight-bold">Password</label>
                        <input type="password" class="form-control" value="" name="pw" placeholder="Password">
                        </div>

				        <div class="col">
                        <label for = "lname" class="font-weight-bold">Verify Password</label>
                        <input type="password" class="form-control" name="vpw" placeholder="Verify Password">
                        </div>
			        </div>    
                     <div class="form-group text-center">
                    <button type="submit" value="changepass"class="btn btn-primary">Change Password</button>
                    </div>       	
                    </div>
                    </form>
                    {{/if}}
                </div>
                </div>   
                </div>
            </div> 
        </div>
        <nav class = "footer navbar navbar-expand-md navbar-dark bg-dark mt-5">
            <div class="container-fluid">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/about">ABOUT</a>
                    </li>
                </ul>
            </div>
        </nav>
    </body>
</html>
