<html>
    <head>
        <title>Review {{site.websitename}} | InSite</title>
        <script src="/jquery.js"></script>
        <link rel="stylesheet" href="/stylesheets/mainpage.css">
        <link rel="stylesheet" href="/stylesheets/starrating.css">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>
        <link rel="icon" type="image/png" size="32x32" href="/images/insite-icon-v3-32x32.png">
    </head>
    
    <body>
         <nav class = "navbar navbar-expand-md navbar-dark bg-dark sticky-top">
            <div class = "container-fluid">
                <a class="navbar-brand" href="/"><img src = "/images/navbar-logo-micro-v3.png"></a>
                
            <form class = "form-inline d-flex my-2 my-lg-0 justify-content-center md-form long-textbar" method="get" action="/websites/search-results">
                    <div class="lg-form my-0">
                        <input class="form-control form-control-md ml-3 long-textbar" name = "search" type="text" placeholder ="search for websites..." aria-label="search">
                        <button href = "/websites/search-results" class="btn btn-outline-light btn-md my-0 ml-sm-2">SEARCH</button>
                    </div>
                </form>
                <!--
                <div class = "col-xl-2">
                        <select id = "topCateg">
                        <option>All Categories</option>
                        <option>Social Media</option>
                        <option>E-Commerce</option>
                        <option>News Sites</option>
                        <option>Blogs</option>
                        <option>Informational</option> 
                        <option>Entertainment</option> 
                        </select>
                </div> -->
                
                
                <ul class="navbar-nav">
                    <li class = "nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true"
                           aria-expanded="false">
                            VIEW WEBSITES
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/categories/allcategories">All Websites</a></li>
                            <li><a class="dropdown-item" href="/categories/socialmedia">Social Media</a></li>
                            <li><a class="dropdown-item" href="/categories/ecommerce">E-Commerce</a></li>
                            <li><a class="dropdown-item" href="/categories/newssites">News Sites</a></li>
                            <li><a class="dropdown-item" href="/categories/blogs">Blogs/Focus Sites</a></li>
                            <li><a class="dropdown-item" href="/categories/informational">Informational</a></li>
                            <li><a class="dropdown-item" href="/categories/entertainment">Entertainment</a></li>
                            <li><a class="dropdown-item" href="/categories/utilities">Utilities</a></li>
                        </ul>
                    </li>
                    <li class = "nav-item">
                        <a class = "nav-link" href="/websites/submitsite">SUBMIT A WEBSITE</a>
                    </li>
                    <!-- rightoption1: either sign up or account, rightoption2: either log in or log out -->
                     <li class = "nav-item dropdown">
                        {{#if loggedin}}
                        <a class="nav-link dropdown-toggle" href="" id="profileDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                           {{rightoption1}}
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="profileDropdown">
                            <li><a class="dropdown-item" href="{{url1}}">View Profile</a></li>
                            {{#if modurl}}
                            <li><a class="dropdown-item" href="{{modurl}}">{{userRole}} Panel</a></li>
                            {{/if}}
                        </ul>
                        {{else}}
                            <a class = "nav-link" href="{{url1}}">{{rightoption1}}</a>
                        {{/if}}
                    </li>
                    <li class = "nav-item">
                        <a class = "nav-link" href="{{url2}}">{{rightoption2}}</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="row no-gutter">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="carousel inner">
                    <div class="carousel-item active">
                        <img src="{{site.banner}}" class="img-responsive webheader-jumbotron-image">
                    </div>
                </div>
            </div>    
        </div> 

        <div class="text-center font-weight-bold pt-4 pb-4"><h2 class="display-4">Review {{site.websitename}}</h2></div>
            
            <div class = "container mx-auto" style="width:50%;">
                <!---
            <form method="post" action="/websites/websitelist/{{site._id}}/review/submit" enctype="multipart/form-data">
                <input type="hidden" class="form-control" name="websitename" value="{{site.websitename}}">
                <div class="row">
                <div class="col">
                <div class="form-group">
                <div class="bg-dark text-white"><h4 class="text-center pt-2 pb-2">Ratings</h4></div>
                <ul class="list-group p-0">
                            <li class="list-group-item text-center"><span class="font-weight-bold"><label for = "design">Design</label><br></span><input type = "range" min = "0" max = "5" name="design" class="form-control"></li>
                            <li class="list-group-item text-center"><span class="font-weight-bold"><label for = "usability">Usability</label><br></span><input type = "range" min = "0" max = "5" name="usability" class="form-control"></li>
                            <li class="list-group-item text-center"><span class="font-weight-bold"><label for = "creativity">Creativity</label><br></span><input type = "range" min = "0" max = "5" name="creativity" class="form-control"></li>
                            <li class="list-group-item text-center"><span class="font-weight-bold"><label for = "content">Content</label><br></span><input type = "range" min = "0" max = "5" name="content" class="form-control"></li>
                            <li class="list-group-item text-center"><span class="font-weight-bold"><label for = "trust">Trustworthiness</label><br></span><input type = "range" min = "0" max = "5" name="trust" class="form-control"></li>
                </ul>
                </div>
                </div>

                <div class="col">
                <div class="bg-dark text-white"><h4 class="text-center pt-2 pb-2">Comments</h4></div>
                <textarea name="reviewcontent" class="form-control h-50"></textarea>
                </div>
                </div>
                <div class="form-group text-center">
                <button type="submit" value="register" class="btn btn-primary btn-lg btn-circle">Submit Review</button>
                </div>
            </form> -->
                
            <form method="post" action="/websites/websitelist/{{site._id}}/review/submit" class="text-center">
                <input type="hidden" class="form-control" name="websitename" value="{{site.websitename}}">
                <!--esign <input type = "range" min = "0" max = "5" name="design" class="form-control"><br>
                usability <input type="number" class="form-control" name="usability"><br>
                creativity <input type="number" class="form-control" name="creativity"><br>
                content <input type="number" class="form-control" name="content"><br>
                trust <input type="number" class="form-control" name="trust"><br>
                review <input type="text" class="form-control" name="reviewcontent"><br>-->

                <div class="row justify-content-center">
                <p class="bg-dark text-white">🎨Design</p><br>
                </div>
                <div class="row justify-content-center">
                    <span class="star-rating star-5">
                      <input type="radio" name="design" id="u1" value="1"><i></i>
                      <input type="radio" name="design" id="u2" value="2"><i></i>
                      <input type="radio" name="design" id="u3" value="3"><i></i>
                      <input type="radio" name="design" id="u4" value="4"><i></i>
                      <input type="radio" name="design" id="u5" value="5"><i></i>
                    </span>
                </div>
                <div class="row justify-content-center"> 
                <p class="bg-dark text-white">🔧Usability</p><br>
                </div>
                <div class="row justify-content-center">    
                    <span class="star-rating star-5">
                      <input type="radio" name="usability" id="u1" value="1"><i></i>
                      <input type="radio" name="usability" id="u2" value="2"><i></i>
                      <input type="radio" name="usability" id="u3" value="3"><i></i>
                      <input type="radio" name="usability" id="u4" value="4"><i></i>
                      <input type="radio" name="usability" id="u5" value="5"><i></i>
                    </span>
                <br>
                </div>
                <div class="row justify-content-center">
                <p class="bg-dark text-white">💡Creativity</p><br>
                </div>
                <div class="row justify-content-center">
                    <span class="star-rating star-5">
                      <input type="radio" name="creativity" id="cr1" value="1"><i></i>
                      <input type="radio" name="creativity" id="cr2" value="2"><i></i>
                      <input type="radio" name="creativity" id="cr3" value="3"><i></i>
                      <input type="radio" name="creativity" id="cr4" value="4"><i></i>
                      <input type="radio" name="creativity" id="cr5" value="5"><i></i>
                    </span>                
                <br>
                </div>
                <div class="row justify-content-center">
                <p class="bg-dark text-white">📖Content</p><br>
                </div>
                <div class="row justify-content-center">
                    <span class="star-rating star-5">
                      <input type="radio" name="content" id="co1" value="1"><i></i>
                      <input type="radio" name="content" id="co2" value="2"><i></i>
                      <input type="radio" name="content" id="co3" value="3"><i></i>
                      <input type="radio" name="content" id="co4" value="4"><i></i>
                      <input type="radio" name="content" id="co5" value="5"><i></i>
                    </span>
                <br>
                </div>
                <div class="row justify-content-center">
                <p class="bg-dark text-white">✔️Trustworthiness</p><br>
                </div>
                <div class="row justify-content-center">
                    <span class="star-rating star-5">
                      <input type="radio" name="trust" id="t1" value="1"><i></i>
                      <input type="radio" name="trust" id="t2" value="2"><i></i>
                      <input type="radio" name="trust" id="t3" value="3"><i></i>
                      <input type="radio" name="trust" id="t4" value="4"><i></i>
                      <input type="radio" name="trust" id="t5" value="5"><i></i>
                    </span>
                <br>
                </div>

                <p class="bg-dark text-white mt-3">Comments</p>
                <input type="text" class="form-control" name="reviewcontent" style="height: 100px;"><br>

                <button type="submit" value="register" class="btn btn-primary btn-sm btn-circle">Submit Review</button>
            </form>    
            </div>
        <nav class = "footer navbar navbar-expand-md navbar-dark bg-dark mt-5">
            <div class="container-fluid">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="/about">ABOUT</a>
                    </li>
                </ul>
            </div>
        </nav>
    </body>
</html>
